@charset "utf-8";


body{
	
    background-image: url(../_imagens/planoFundo.jpg);
	background-repeat: no repeat;
	background-size: cover;/*tamanho da imagem*/
	background-attachment: fixed ;    /*....define se a imagem de fundo (fixed= fixar)  ou não (scroll=rolar) com a tela*/
    background-position: center center;

}
	
div#interface {
		width: 1015px;
		background-color: rgba(193,255,193,.5); 
		margin: -20px auto 0px auto;
		box-shadow: 0px 0px 10px rgba(0,0,255,.5);
		padding: 10px 10px 50px 10px; 
		position: relative;
		top:1px;
		left:20px;
		
}
img#logotipo {
width:150px;
height:130px;

}
img#ministerio{
position:relative;

left:350px;
}
img#igrejaBatistadosGuararapes{
position: relative;
left:55px;

}
nav#menu1 {
		display: block;/*Transforma o Menu em Blocos*/
}
nav#menu1 ul{
		list-style: none; /*restira os marcadores*/
		text-transform: uppercase;/*transforma as letras em maiusculas*/
		position: absolute;/*faz com que possa colocar em qualquer parte do site*/
		top: -23px;/*Movimenta em relação a Altura*/
		left: 610px;/*Movimenta em relação ao Lado esquedo*/
		color:#red;/*Cor do Texto*/

}
nav#menu1 li{
		display:inline-block;
		margin:5px;/*Margem externa*/
		padding-top: 45px;/*criar um espaçamento interno na Altura*/
		padding-bottom: 20px;/*criar um espaçamento interno na parte inferior*/
		padding-left:5px;/*criar um espaçamento interno no Lado Esquerdo*/
		padding-right:5px; /*criar um espaçamento interno no Lado Direito*/
		transition: background-color 1s;/*Transição da Cor do menu e o tempo*/
		border-radius: 20%;/*curva as extremidades do menu*/
}
nav#menu1 li:hover {/*Efeito de Transição de Menu*/
		background-color : #1E90FF;/*Cor interna do Menu*/
}
nav#menu2 {
		display: block;/*Transforma o Menu em Blocos*/
}
nav#menu2 ul{
		list-style: none; /*restira os marcadores*/
		text-transform: uppercase;/*transforma as letras em maiusculas*/
		position: absolute;/*faz com que possa colocar em qualquer parte do site*/
		top: 513px;/*Movimenta em relação a Altura*/
		left: -55px;/*Movimenta em relação ao Lado esquedo*/
		color:#000000;/*Cor do Texto*/

}
nav#menu2 li{
		display:inline-block;
		margin-left :100px;/*Margem externa*/
		padding-top: 5px;/*criar um espaçamento interno na Altura*/
		padding-bottom: 5px;/*criar um espaçamento interno na parte inferior*/
		padding-left:5px;/*criar um espaçamento interno no Lado Esquerdo*/
		padding-right:5px; /*criar um espaçamento interno no Lado Direito*/
		transition: background-color 1s;/*Transição da Cor do menu e o tempo*/
		
}
nav#menu2 li:hover {/*Efeito de Transição de Menu*/
		background-color : #ffffff;/*Cor interna do Menu*/
}
div#faixa {

background-color: #1E90FF;
position:relative;
top:-15px;
left:-10px;
height: 30px;
width:1035px;
color:#1E90FF;
}


div#noticias{
position:relative;
left:-210px;
}
section#ladoesquerdo {
display: block;/*tranforma em blocos*/
width:500px;/*largura*/
float:left;/*faz flutuar pelo lado esquerdo*/
border-right:1px solid #1E90FF;
padding-right:20px; /*espaço interno do lado direito*/
padding-left: 20px;/*espaço interno do lado esquerdo*/

}
aside#ladodireito {
display: block;/*transforma o conteudo em blocos*/
 width: 450px;/*largura*/
float:right;/*faz o conteudo flutuar*/
padding-left: 20px;/*espaço interno*/


}
footer#partedebaixo{
clear:both;/*limpa as configurações do do aside*/
text-align:center;/*texto centralizado*/
border-top:1px solid #1E90FF;/*espessura,tipo de borda,cor da borda superior*/
}
div#Slide {
position:relative;
left:85px;/*movimentação referente ao lado esquerdo*/

}
h3 {
text-align:center;/*texto centralizado*/
}
input {

background-color: rgba(193,255,193,.3); /*cor interna do input*/
}
textarea{
background-color: rgba(193,255,193,.3); /*cor interna da area de texto*/
}
P {

text-align: justify;/*texto justificado*/
text-indent:50px;/*recuo do paragrafo*/

}

/*configuração individual das pasginas*/

img#logotipopagina {
	
	position: relative;
	
	left:85px;
}